@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* your custom stuff BELOW this line */


/* your custom stuff BELOW this line */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-clamp-1 {
  line-clamp: 1;              /* Standard property */
  display: -webkit-box;       /* For Safari/Chrome */
  -webkit-line-clamp: 1;      /* WebKit old syntax */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  animation: scroll-right 40s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

.animate-scroll-right:hover,
.animate-scroll-left:hover {
  animation-play-state: paused;
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

